<div class="card text-center">
  <div class="card-header">
    {{subTitle}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Error al intentar Acceder</h5>
    <p class="card-text">Por favor registrarse o si ya tiene usuario haga login</p>
    <a href="http://localhost:8080/home" class="btn btn-primary">Go to Home</a>
  </div>
  <div class="card-footer text-muted">
    Coder
  </div>
</div>