<div class="card text-center">
  <div class="card-header">
    Welcome 
  </div>
  <div class="card-body">
    <h5 class="card-title">Bienvenidos a CoderHouse ecommers</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="http://localhost:8080/login" class="btn btn-primary">Login</a> 
    <a href="http://localhost:8080/register" class="btn btn-primary">Register</a>
  </div>
  <div class="card-footer text-muted">
    <h5>Coder</h5>
  </div>
</div>