<div id="contenedorProductos" >
    <h3>Productos webSocket</h3>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
   
{{!-- <table id="miTabla">
        <tr>
            <th>ID</th>
            <th>CODE</th> 
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>STOCK</th>
            <th>CATEGORY</th>
        </tr>
        
    </table> --}}

    
</div> 