<nav class="navbar navbar-dark navbar-expand-lg mb-4" style="background-color:rgba(164, 164, 47, 0.81)">
    <div class="container-fluid d-flex justify-content-evenly align-items-center">
        <div>
            <a href="/" class="navbar-brand"> <i class='fa fa-shopping-bag green-color'></i></a>
        </div>
        <ul class="d-flex justify-content-between gap-5">
            <li class="nav-item mt-2"><a href="/" class="text-white text-decoration-none">Inicio</a></li>
            <li class="nav-item mt-2"><a href="/products" class="text-white text-decoration-none">Products</a></li>
            <li class="nav-item mt-2"><a href="/products/realtimeproducts" class="text-white text-decoration-none">Real Time Products</a></li>
            <li class="nav-item mt-2"><a href="/products/chat" class="text-white text-decoration-none">Chat</a></li>
        </ul>
        <div>
            <a class="btn btn-outline-success" href="/products/carts/"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
 </nav>